$font-family: "Museo Sans Cyrl", sans-serif;
$second-family: "Montserrat", sans-serif;

$color-white: #fff;
$color-black: #000;
$text-color: #4f4f4f;
$title-color: #333;
$placeholder-color: #828282;
$error-color: #eb5757;
$success-color: #0eac00;

$hero-bg-mobile: rgba(79, 98, 246, 0.1);
$contact-bg-mobile: rgba(79, 98, 246, 0.08);
$hero-bg-desktop: rgba(98, 72, 255, 0.1);
$contact-bg-desktop: rgba(98, 72, 255, 0.08);
$title-text-bg: rgba(98, 72, 255, 0.05);

$btn-bg-default: #4f62f6;
$btn-bg-hover: #7181fc;
$btn-bg-pressed: #354bf4;
$btn-bg-disabled: #e0e0e0;

$lines-color: #6248ff;

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;



